.clock-display {
    text-align: center;
    margin: auto;   
}

#clearBttn {
    display: inline-block;
}

#displayTime {
    margin: auto;
    margin-top: 25%;
    
}


/* ------------------------------------------------- */

.savOrCncl {
    text-align: center;
    margin: auto;
}

#hr-select {
    margin: auto;
    margin-top: 25%;
    display: block;
    height: 30%;
}


