.clock-display {
    text-align: center;
    width: 10%;
    margin: auto;
    text-align: center;
   
    
}

.savOrCncl {
    text-align: center;
    width: 10%;
    margin: auto;
    text-align: center;
    
}
